<% title "Edit Family" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @family %> |
  <%= link_to "View All", families_path %> |
  <%= link_to "Delete Family", @family, :method => :delete, :confirm => "Are you sure?" %>
</p>
