<% title "Families" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>
  <% for family in @families %>
    <tr>
      <td><%=h family.name %></td>
      <td><%=h family.address %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Family", new_family_path %></p>
