<% title "Foods" %>

<table>
  <% @foods.each do |food| %>
    <tr>
      <td>
        <%= link_to h(food.name), food, :style => "font-size: 18px" %>
        <small>
          <%= link_to "Edit", edit_food_path(food) %>
          <%= link_to "Delete", food, :confirm => 'Are you sure?', :method => :delete %>
        </small>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Food", new_food_path %></p>
