<% title "People Eating #{@food.name.titleize} (#{@food.people.size})" %>

<table>
  <%= render @food.people %>
</table>

<p>
  <%= link_to "Edit this food", edit_food_path(@food) %> |
  <%= link_to "Delete this food", @food, :confirm => 'Are you sure?', :method => :delete %>
</p>
